HBox{
    -fx-background-color: #b9bfd2;
}

Button{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: mediumseagreen;
    -fx-text-fill: white;
}

TextField{
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-prompt-text-fill: grey;
    -fx-background-color: #e8e8e8;
    -fx-text-alignment: center;
    -fx-border-radius: 10px;
}