*{
    -fx-background-color: whitesmoke;
}

#city-label, #country-label{
    -fx-background-color: transparent;
}

#image-view {
    -fx-background-color: white;
}

Button:hover{
    -fx-background-color: red;
}