*{
    -fx-background-color: red;
}

#city-label, #country-label{
    -fx-background-color: transparent;
}

#image-view {
    -fx-background-color: white;
}

#city-button {
    -fx-background-color: red;
    -fx-border-radius: 5px;
}